Django==1.6.5

# para mysql
#
# en mac: hay que meter la carpeta /bin en el PATH:
# export PATH=$PATH:/usr/local/mysql/bin
# http://stackoverflow.com/questions/4559699/python-mysqldb-and-library-not-loaded-libmysqlclient-16-dylib
# sudo ln -s /usr/local/mysql/lib/libmysqlclient.18.dylib /usr/lib/libmysqlclient.18.dylib
#
# en ubuntu:
# instalar mysql y luego:
# sudo apt-get install libmysqlclient-dev python-dev libevent-dev
MySQL-python==1.2.5

Pillow==2.5.1
South==1.0
fake-useragent==0.0.6
names==0.3.0
oauthlib==0.6.3
pytz==2014.4
requests==2.3.0
requests-oauthlib==0.4.0
selenium==2.43.0
simplejson==3.5.3
stem==1.2.2
wsgiref==0.1.2

#
# para tweepy:
#
# hay que instalar tweepy manualmente clonandolo desde el repo de github, no vale con el del pip
# y hacer python setup.py build y mover el resultado a la carpeta de los paquetes para el entorno creado